body {
    margin: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-color: rgb(60, 56, 56);
    background-image: url(./images/space\ background\ 2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Counter Styles */
#counter {
    color: white;
    display: flex;
    align-items: center;
}

/* Asteroid Styles */
#asteroidBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

#asteroidBtn img {
    position: absolute;
    top: 35%;

}

#asteroidBtn img:hover {
    cursor: pointer;
}





