body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgb(60, 56, 56);
    background-image: url(./images/space\ background\ 2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
}
/* Counter Styles */
#counter {
    color: white;
    display: flex;
    align-items: center;
}

/* Asteroid Styles */
#asteroidBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#asteroidBtn img {
    position: fixed;
    top: 15%;
}

#asteroidBtn img:hover {
    cursor: pointer;
}

/* Upgrade Styles */
/* ## Upgrade Bar ## */
.upgradesBar {
    width: 15%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    background-color: rgb(146, 146, 146);
    font-size: 1.25rem;
    border-radius: 10px;
}

.upgradesBar h3 {
    margin-left: 7%;
}

.cost {
    display: flex;
    align-items: center;
    gap: 5px;
}
/* ShipMiner / Upgrade 1 Styles */
#upgrade1 {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 95%;
    height: 100px;
    border-radius: 10px;
}

/* .available {
    opacity: 1;
}

.notAvailable {
    opacity: 0;
    pointer-events: none;
} */

/* ShipMiner Button */
#shipMinerBtn {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-style: none;
    width: 55%;
    height: 60px;
    font-family: monospace;
    color: black;
}

#shipMinerBtn:hover {
    cursor: pointer;
}

#shipMinerBtn img {
    width: 75px;
    height: 50px;
}

