body {
    margin: 0;
    box-sizing: border-box;
    width: auto;
    background-color: rgb(60, 56, 56);
}

#asteroidBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

#asteroidBtn img {
    position: absolute;

}

#asteroidBtn img:hover {
    cursor: pointer;
}

#counter {
    color: white;
}

